.about_container {
    padding-top: 80px;
    section {
        margin: 0 auto;
        margin-bottom: 80px;
        width: 85%;
        .remove_about_padding {
            padding-left: 0 !important;
            padding-right: 0 !important;
            img {
                width: 100%; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
       
        .value_name {
            color: $primaryGreen;
            font-size: 16px;
        }
        .value_text {
            color: $colHeaderText;
            font-size: 16px;
        }
        &.curriculum {
            height: 540px;
            width: 100%;
            .curriculum_content {
                background-color: #E3F6EB;
                padding: 50px 100px;
            }
        }
       
    }
}
.ace_link {
    font-size: 11px;
}

@media screen and (max-width: 798px) {
    .about_container {
        section {
            margin-bottom: 40px;
            .section_col_header {
                text-align: center;
                margin-bottom: 20px;
            }
            &.curriculum {
                height: auto;
                .curriculum_content {
                    padding: 30px 40px;
                }
            }
            .fourth_about_image {
                margin-bottom: 30px;
            }
        }
    }
}