.admission_file_holder {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    .admission_file_section {
        width: 240px;
        height: 280px;  
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        position: relative;
        z-index: 1;
        transition: all 5s;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.5s linear;
            opacity: 0;
            border-radius: 10px;
        }
        &:hover::before {
            opacity: 1;
        }
        &.first {
            background-image: linear-gradient(rgb(16, 17, 16, 0.761), rgb(16, 17, 16, 0.761)),
            url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626810/admission1_rml5lu.png");
            &::before {
                background-image: linear-gradient(rgb(8, 129, 62, 0.5), rgb(8, 129, 62, 0.6)), url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626810/admission1_rml5lu.png");
            }
        }
        &.second {
            background-image: linear-gradient(rgb(16, 17, 16, 0.761), rgb(16, 17, 16, 0.761)),
            url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626812/admission2_kvqixs.png");
            &::before {
                background-image: linear-gradient(rgb(8, 129, 62, 0.5), rgb(8, 129, 62, 0.6)), url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626812/admission2_kvqixs.png");
            }
        }
        &.third {
            background-image: linear-gradient(rgb(16, 17, 16, 0.761), rgb(16, 17, 16, 0.761)),
            url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626810/admission3_cxn3i0.png");
            &::before {
                background-image: linear-gradient(rgb(8, 129, 62, 0.5), rgb(8, 129, 62, 0.6)), url("https://res.cloudinary.com/dfjzditzc/image/upload/v1617626810/admission3_cxn3i0.png");
            }
        }
        a {
            width: 80%;
            button {
                width: 100%;
                background-color: rgb(16, 17, 16, 0);
                border-radius: 5px;
                border: 1px solid white;
                height: 60px;
                color: white;
                outline: 0;
            }
        }
        
    }
    .adm_left_rod{
        height: 3px;
        width: 150px;
        border-top: 3px dashed $primaryGreen;
    }
}

.nursery_holder {
    background-color: #F8FAFF;
    padding-top: 37px;
    padding-bottom: 31px;
    margin-top: 54px;
    .section_col_header {
        margin-bottom: 50px;
    }
    .nursery_admission_img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img {
            width: 70%;
        }
    }
}

.admission_content_wrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    p{
        font-size: 13px;
        color: $greyText
    }
}
.open_bible_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        color:$goldColor    
    }
}
.centra_para_section {
    margin: 0 auto;
    width: 65%;
    .cent_para{
        text-align: justify;
    }
    .card_para {
        font-size: 13px;
    }
    small {
        font-weight: 600;
    }
}
.admission_media {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    height: 160px;
    padding: 20px 15px;
    
}
.adm_circle_2 {
    width: 15px;
    height: 15px;
    background: #FFD723;
    border-radius: 50%;
    position: absolute;
    bottom: 169px;
    left: -79px;
}
.adm_circle{
    width: 15px;
    height: 15px;
    background: $goldColor;
    border-radius: 50%;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 7px;
        height: 71px;
        width: 3px;
        border-right: 3px dashed $primaryGreen;
    }
    .adm_left_rod{
        position: absolute;
        top: 82px;
        right: 7px;
        height: 3px;
        width: 344px;
        // background: #08813E;
        border-top: 3px dashed $primaryGreen;
    }
}
.adm_circle_wrapper{
    display: flex;
    justify-content: center;
}
.adm-rod-2{
    position: absolute;
    top: 423px;
    left: -73px;
    height: 3px;
    width: 716px;
    border-top: 3px dashed #08813E;
}
.adm-rod-4{
    position: absolute;
    bottom: 9px;
    left: -73px;
    height: 3px;
    width: 716px;
    border-top: 3px dashed #08813E;
}
.adm-rod-1 {
    position: absolute;
    top: -30px;
    left: -74px;
    height: 455px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-rod-5 {
    position: absolute;
    top: -35px;
    left: -74px;
    height: 495px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-rod-3 {
    position: absolute;
    top: -36px;
    right: -102px;
    height: 595px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-number-wrapper-2 {
    z-index: 1;
    position: absolute;
    top: 197px;
    right: -140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
.adm-number-wrapper {
    z-index: 1;
    position: absolute;
    top: 149px;
    left: -104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
.adm-number-wrapper-3 {
    z-index: 1;
    position: absolute;
    top: 216px;
    left: -104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
@media only screen and (max-width: 1024px) {
    .admission_file_holder {
        .adm_left_rod{
            width: 50px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .admission_file_holder {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .adm_left_rod{
            height: 150px;
            border-right: 3px dashed $primaryGreen;
            border-top: 0;
            width: 0;
        }
    }

    .nursery_holder {
        padding-left: 20px;
        padding-right: 20px;
        .nursery_admission_img {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            img {
                width: 70%;
            }
        }
    }
    .adm-rod-2 {
        display: none !important;
    }
    .centra_para_section, .admission_content_wrapper {
        width: 100%;
        padding: 25px;
    }
    .open_bible_wrapper {
        padding: 33px;
        text-align: center;
    }
    .admission_media {
        height: auto;
        margin-top: 21px;
    }
    .mobile_alignment {
        text-align: center !important;
    }
    .admission_media_wrapper  {
        text-align: center;
        .icon_centralised_wrapper {
            margin: 0 auto;
        }
    }
}