.admission_content_wrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    p{
        font-size: 13px;
        color: $greyText
    }
}
.open_bible_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        color:$goldColor    
    }
}
.centra_para_section {
    margin: 0 auto;
    width: 65%;
    .cent_para{
        text-align: justify;
    }
    .card_para {
        font-size: 13px;
    }
    small {
        font-weight: 600;
    }
}
.admission_media {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    height: 160px;
    padding: 20px 15px;
    
}
.adm_circle_2 {
    width: 15px;
    height: 15px;
    background: #FFD723;
    border-radius: 50%;
    position: absolute;
    bottom: 169px;
    left: -79px;
}
.adm_circle{
    width: 15px;
    height: 15px;
    background: $goldColor;
    border-radius: 50%;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 7px;
        height: 71px;
        width: 3px;
        border-right: 3px dashed $primaryGreen;
    }
    .adm_left_rod{
        position: absolute;
        top: 82px;
        right: 7px;
        height: 3px;
        width: 344px;
        // background: #08813E;
        border-top: 3px dashed $primaryGreen;
    }
}
.adm_circle_wrapper{
    display: flex;
    justify-content: center;
}
.adm-rod-2{
    position: absolute;
    top: 423px;
    left: -73px;
    height: 3px;
    width: 716px;
    border-top: 3px dashed #08813E;
}
.adm-rod-4{
    position: absolute;
    bottom: 9px;
    left: -73px;
    height: 3px;
    width: 716px;
    border-top: 3px dashed #08813E;
}
.adm-rod-1 {
    position: absolute;
    top: -30px;
    left: -74px;
    height: 455px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-rod-5 {
    position: absolute;
    top: -35px;
    left: -74px;
    height: 495px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-rod-3 {
    position: absolute;
    top: -36px;
    right: -102px;
    height: 595px;
    width: 3px;
    border-right: 3px dashed #08813E;
}
.adm-number-wrapper-2 {
    z-index: 1;
    position: absolute;
    top: 197px;
    right: -140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
.adm-number-wrapper {
    z-index: 1;
    position: absolute;
    top: 149px;
    left: -104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
.adm-number-wrapper-3 {
    z-index: 1;
    position: absolute;
    top: 216px;
    left: -104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    span {
        font-weight: 800;
        font-size: 23px;
    }
}
@media only screen and (max-width: 768px) {
    .adm-rod-2 {
        display: none !important;
    }
    .centra_para_section, .admission_content_wrapper {
        width: 100%;
        padding: 25px;
    }
    .open_bible_wrapper {
        padding: 33px;
        text-align: center;
    }
    .admission_media {
        height: auto;
        margin-top: 21px;
    }
    .mobile_alignment {
        text-align: center !important;
    }
    .admission_media_wrapper  {
        text-align: center;
        .icon_centralised_wrapper {
            margin: 0 auto;
        }
    }
}