.bg_wrapper {
  // background: linear-gradient(
  //     rgb(8, 129, 62, 0.85),
  //     rgb(8, 129, 62, 0.85)
  //   );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner_wrapper {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    // height: 65vh;
    margin-top: 70px;
    display: flex;

    .banner__header__text {
      letter-spacing: 0px;
      opacity: 1;
      font-size: 32px;
      line-height: 1.5;
      color: $white;
    }
    .banner__header__para {
      letter-spacing: 0px;
      opacity: 1;
      font-size: 12px;
      line-height: 1.5;
      color: $white;
    }
  }
}


/*** New home starts ***/

.home_back {
  background-color: #DEEAF3 !important;
}

.welcome_note_section {
  margin-bottom: 50px;
  .welcome_note {
    .note_header {
      font-size: 30px;
      color: #4D533C;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }
    .note_content {
      color: #4D533C;
      margin-bottom: 40px;
      p {
        text-align: center;
        font-size: 15px;
        line-height: 1.8;
      }
    }
    .note_content_img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90px;
        height: 90px;
        margin-right: 30px;
        border-radius: 50%;
      }
      div {
        h4 {
          color: #4D533C;
          font-size: 20px;
        }
        p {
          color: #152934;
          font-size: 15px;
        }
      }
    }
  }

  .upcoming_events {
    background-color: #E9EFEC;
    padding: 30px 20px;
    border-radius: 20px;
    .upcoming_events_header {
      font-size: 30px;
      color: #4D533C;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }
    .upcoming_events_content {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        img {
          margin-right: 30px;
          width: 90px;
          height: 90px;
          object-fit: contain;
        }
        p {
          color: #303030;
          font-size: 15px;
        }
      }
    }
  }
  
  .welcome_sol_image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home_nursery {
  display: flex;
  height: 340px;
  width: 100%;
  padding: 100px 66px 60px 66px;
  border-radius: 20px;
  background-image: linear-gradient(rgb(16, 17, 16, 0.761), rgb(16, 17, 16, 0.761)), url("https://cdn.pixabay.com/photo/2014/04/05/11/39/people-316506_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nursery_link_button {
      padding: 19px 40px;
      background-color: white;
      color: $primaryGreen;
      border-radius: 35px;
      font-size: 16px;;
    }
    h1 {
      color: #F5F5F5;
      margin-bottom: 40px;
      font-weight: bold;
    }
    &.nurs_imgs {
      display: flex; 
      flex-direction: row;
      justify-content: center;
      img {
        width: 200px;
        height: 230px;
        border-radius: 20px;
        position: relative;
        object-fit: cover;
        &.first_nurs_img {
          top: -90px;
          margin-right: 50px;
        }
        &.second_nurs_img {
          position: relative;
          top: 55px;
        }
      }
    }
  }
}

.home_programs_section {
  margin-top: 100px;
  .home_programs_holder {
    margin: 50px auto 50px auto; 
    width: 85%;
    .program_card {
      cursor: pointer;
      transition: all .35s ease-in-out;
      position: relative;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      height: 250px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &.first {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://cdn.pixabay.com/photo/2019/10/02/07/15/education-4520228_960_720.jpg");
      }
      &.second {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://cdn.pixabay.com/photo/2016/03/22/07/07/pre-1272291_960_720.jpg");
      }
      &.third {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://images.pexels.com/photos/1516440/pexels-photo-1516440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      }
      &.fourth {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://cdn.pixabay.com/photo/2013/04/19/01/15/university-105709_960_720.jpg");
      }
      &.high_school_1 {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://media.istockphoto.com/vectors/certificate-or-diploma-template-luxury-modern-style-vector-id1243050502?s=612x612");
      }
      &.high_school_2 {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://media.istockphoto.com/vectors/certificate-template-diploma-of-modern-design-or-gift-certificate-vector-id1244934678?s=612x612");
      }
      &.high_school_3 {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://cdn.pixabay.com/photo/2014/04/03/10/45/teaching-311356__340.png");
      }
      &.college_3 {
        background-image: linear-gradient(rgb(16, 17, 16, 0.461), rgb(16, 17, 16, 0.461)), url("https://media.istockphoto.com/vectors/blue-color-certificate-for-award-and-education-vector-template-design-vector-id1268178359?s=612x612");
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background: linear-gradient(to top,#000 0,transparent 100%);
      }
      &:hover::before {
        opacity: 1;
      }
      &::after {
        transition: all 0.5s ease-in-out;
        position: absolute;
        content: '';
        bottom: -100px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background: $primaryGreen;
        display: flex;
        justify-content: center;
      }
      &:hover::after {
        transform: scale(8)
      }
      h4 {
        color: white;
        font-size: 25px;
      }
      p {
        color: white;
        font-size: 15px;
        text-align: center;
      }
      .drop_program_card_title {
        transition: all .25s ease-in-out;
        z-index: 3;
        position: relative;
        top: 100px;
        &.policies_cards {
          top: 80px;
          text-align: center;
        }
        &.high_school {
          top: 50px;
        }
      }
      .drop_program_card {
        transition: all .25s ease-in-out;
        z-index: 3;
        position: relative;
        top: 150px;
      }
      &:hover {
        .drop_program_card {
          top: 0;
        }
        .drop_program_card_title {
          top: 0;
        }
      }
    }
  }
}

.important_resources_section {
  padding: 60px 0;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;
  .resources {
    h4 {
      margin-bottom: 60px;
      text-align: left;
    }
    .resources_first {
      margin-bottom: 80px;
    }
    .circular_div {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #D6FFE9;
    }
    .resources_content {
      font-size: 20px;
      color: #08813E
    }
  }
  .important_resources_img {
    height: 100%;
    img {
      width: 100% !important;
      object-fit: cover;
      height: 530px !important;
    }
  }
}

.choose_us_reasons {
  margin-bottom: 100px;
  h4 {
    margin-bottom: 60px;
  }
  .choose_us_reason {
    // height: 180px;
    img {
      height: 180px;
      width: 100% !important;
      object-fit: cover;
    }
    .inner_choose {
      padding: 20px 35px 40px 35px;
      background-color: #DEEAF3;
      display: flex;
      flex-direction: column;
      align-items: center;
      h5 {
        color: #1A1A1A;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .blog_link_button_holder {
        display: flex;
        justify-content: center;
        .blog_link_button {
          cursor: pointer;
          width: 150px;
          background-color: #27AE60;
          padding: 12px 22px;
          font-size: 18px;
          color: white;
          border-radius: 35px;
        }
      }
      p {
        color: #484848;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

.home_blogs {
  padding: 40px 0;
  justify-content: center;
  background-color: #F8F8F8;
  margin-bottom: 50px;
  .home_blog_div {
    margin: 0 auto;
    width: 90%;
    h4 {
      margin-bottom: 40px;
    }
    .home_blog {
      cursor: pointer;
      img {
        width: 100% !important;
        height: 150px;
        object-fit: cover;
        margin-bottom: 25px;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
          color: #1A1A1A;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p {
          color: #484848;
          font-size: 15px;
          text-align: center;
        }
      }
    }
    .blog_link_button_holder {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .blog_link_button {
        cursor: pointer;
        width: 150px;
        background-color: #27AE60;
        padding: 18px 30px;
        font-size: 18px;
        color: white;
        border-radius: 35px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home_nursery {
    padding: 50px 30px 50px 30px;
  }
}

@media only screen and (max-width: 768px) {
  .home_nursery {
    div {
      width: 100%;
      &.nurs_imgs {
        width: 0;
        display: none;
      }
    }
  }
  
  .welcome_note_section {
    margin-bottom: 30px;
  }

  .home_programs_section {
    .home_programs_holder {
      margin: 50px auto 30px auto; 
      .program_card {
        margin-bottom: 20px;
      }
    }
  }

  .important_resources_section {
    .content_width {
      width: 95%;
    }
    h4 {
      text-align: center;
    }
    .resources {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      .resources_first {
        margin-bottom: 20px;
      }
    }
  }

  .choose_us_reasons {
    margin-bottom: 40px;
    .choose_us_reason {
      margin-bottom: 20px;
    }
  }

  .home_blogs {
    margin: 40px auto;
    .home_blog {
      margin-bottom: 20px;
    }
  }

  .ace_curriculum_item {
    width: 100%;
    height: 300px;
    &.last {
      display: none;
    }
  }

  .width-fifty-percent {
    width: 100% !important;
  }
}


/*** New home ends ***/

.important_resources_box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .circular_div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryGreen;
  }
}
.card__boxes__wrapper {
  margin: 0 auto;
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  // transform: translateY(-50%);
  .card-box {
    width: 25%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 30px #3b37350d;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 200px;
  }
}
.boxes_container {
  margin-top: -75px;
  z-index: 9999999999999999;
  position: absolute;;
  width: 100%
}
.upcoming_events_wrapper {
  margin: 0 auto;
  width: 85%;
  margin-top: 200px;

  .upcoming_event_founder_card {
    height: 450px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 100px 100px #00000025;
    opacity: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }
  .upcoming_events_header {
    letter-spacing: 0px;
    color: #4d533c;
    opacity: 1;
    line-height: 1.5;
  }

}
.upcoming_event_founder_card_para {
  letter-spacing: 0px;
  color: #4d533c;
  opacity: 1;
  font-size: 16px;
  padding: 50px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 500;
}
.upcoming_events_section {
  min-height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 30px #3b37350d;
  border-radius: 20px;
  opacity: 1;
  .upcoming_events_section_inner_wrapper {
    margin: 0 auto;
    width: 90%;

    .list_item {
      height: 100px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 31px #00000029;
      opacity: 1;
      .card_img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .blog_para {
    font-size: 11px;
  }
}
.upce_list {
  height: 100px;
  width: 100%;
}
.blog-title {
  font-size: 11px;
}
.important_resources_wrapper {
  margin: 0 auto;
  margin-top: 160px;
  width: 85%;
  .important_resources_box {
    height: 250px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.why_choose_us {
  margin: 0 auto;
  width: 85%;
  .why_choose_us_img {
    width: 100%;
  }
}

.testimonials {
  margin: 0 auto;
  width: 85%;
}
.ace_curriculum {
  display: flex;
  .testimonials__text_container {
    margin: 0 auto;
    width: 60%;
  }
}
.mobile_view {
  display: none;
}

.desktop_view {
  display: block;
}
.vueperslides__inner {
  height: 425px !important;
}

@media only screen and (max-width: 768px) {
  html, body {
          overflow-x: hidden;
  }
  .boxes_container {
    margin-top: 50px !important;
    z-index: 0 !important; 
    position: relative;
  }
  .mobile_view {
    display: block;
  }
  .desktop_view {
    display: none;
  }
  .bg_wrapper {
    .banner__header__text {
      font-size: 26px !important;
    }
  }
  .card__boxes__wrapper .card-box {
    width: 24%;
    margin-right: 10px;
    height: 164px;
  }
  .bold_text {
    font-size: 10px;
  }
  p.mt-5.green__text.bold_text {
    margin-top: 24px !important;
  }
  .upcoming_events_header {
    font-size: 24px;
  }
  .card__boxes__wrapper {
    width: 88%;
  }
  .card_subcontent.text-right {
    text-align: left !important;
  }
  .content_title {
    text-align: right;
    margin-top: -45px;
  }
  .upcoming_events_section {
    margin-top: 30px;
  }
  .small_text {
    font-size: 9px;
  }
  .resources_content {
    font-size: 20px;
  }
  .important_resources_wrapper {
    margin-top: 93px;
  }
  .important_resources_box {
    margin-top: 23px;
  }
  .why_img {
    width: 300px;
  }
  h4.bold_text {
    font-size: 20px;
  }
  img.testimonaial_rate {
    width: 20px;
}
  p.para.testimonials__text {
    font-size: 8px !important;
}
.vueperslides__parallax-wrapper {
  padding-bottom: 355px !important;
}
.testimonials__text_container p {
  font-size: 9px;
}
.header_content {
  font-size: 27px !important;
}
}
