.bg_wrapper {
  // background: linear-gradient(
  //     rgb(8, 129, 62, 0.85),
  //     rgb(8, 129, 62, 0.85)
  //   );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner_wrapper {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    // height: 65vh;
    margin-top: 70px;
    display: flex;

    .banner__header__text {
      letter-spacing: 0px;
      opacity: 1;
      font-size: 32px;
      line-height: 1.5;
      color: $white;
    }
    .banner__header__para {
      letter-spacing: 0px;
      opacity: 1;
      font-size: 12px;
      line-height: 1.5;
      color: $white;
    }
  }
}

.important_resources_box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .circular_div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryGreen;
  }
}
.card__boxes__wrapper {
  margin: 0 auto;
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  // transform: translateY(-50%);
  .card-box {
    width: 25%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 30px #3b37350d;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 200px;
  }
}
.boxes_container {
  margin-top: -75px;
  z-index: 9999999999999999;
  position: absolute;;
  width: 100%
}
.upcoming_events_wrapper {
  margin: 0 auto;
  width: 85%;
  margin-top: 200px;

  .upcoming_event_founder_card {
    height: 450px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 100px 100px #00000025;
    opacity: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }
  .upcoming_events_header {
    letter-spacing: 0px;
    color: #4d533c;
    opacity: 1;
    line-height: 1.5;
  }

}
.upcoming_event_founder_card_para {
  letter-spacing: 0px;
  color: #4d533c;
  opacity: 1;
  font-size: 16px;
  padding: 50px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 500;
}
.upcoming_events_section {
  min-height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 30px #3b37350d;
  border-radius: 20px;
  opacity: 1;
  .upcoming_events_section_inner_wrapper {
    margin: 0 auto;
    width: 90%;

    .list_item {
      height: 100px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 31px #00000029;
      opacity: 1;
      .card_img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .blog_para {
    font-size: 11px;
  }
}
.upce_list {
  height: 100px;
  width: 100%;
}
.blog-title {
  font-size: 11px;
}
.important_resources_wrapper {
  margin: 0 auto;
  margin-top: 160px;
  width: 85%;
  .important_resources_box {
    height: 250px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.why_choose_us {
  margin: 0 auto;
  width: 85%;
  .why_choose_us_img {
    width: 100%;
  }
}

.testimonials {
  margin: 0 auto;
  width: 85%;
}
.ace_curriculum {
  display: flex;
  .testimonials__text_container {
    margin: 0 auto;
    width: 60%;
  }
}
.mobile_view {
  display: none;
}

.desktop_view {
  display: block;
}
.vueperslides__inner {
  height: 425px !important;
}

@media only screen and (max-width: 768px) {
  html, body {
          overflow-x: hidden;
  }
  .boxes_container {
    margin-top: 50px !important;
    z-index: 0 !important; 
    position: relative;
  }
  .mobile_view {
    display: block;
  }
  .desktop_view {
    display: none;
  }
  .bg_wrapper {
    .banner__header__text {
      font-size: 26px !important;
    }
  }
  .card__boxes__wrapper .card-box {
    width: 24%;
    margin-right: 10px;
    height: 164px;
  }
  .bold_text {
    font-size: 10px;
  }
  p.mt-5.green__text.bold_text {
    margin-top: 24px !important;
  }
  .upcoming_events_header {
    font-size: 24px;
  }
  .card__boxes__wrapper {
    width: 88%;
  }
  .card_subcontent.text-right {
    text-align: left !important;
  }
  .content_title {
    text-align: right;
    margin-top: -45px;
  }
  .upcoming_events_section {
    margin-top: 30px;
  }
  .small_text {
    font-size: 9px;
  }
  .resources_content {
    font-size: 20px;
  }
  .important_resources_wrapper {
    margin-top: 93px;
  }
  .important_resources_box {
    margin-top: 23px;
  }
  .why_img {
    width: 300px;
  }
  h4.bold_text {
    font-size: 20px;
  }
  img.testimonaial_rate {
    width: 20px;
}
  p.para.testimonials__text {
    font-size: 8px !important;
}
.vueperslides__parallax-wrapper {
  padding-bottom: 355px !important;
}
.testimonials__text_container p {
  font-size: 9px;
}
.header_content {
  font-size: 27px !important;
}
}
