.pace_container {
    padding-top: 80px;
    section {
        .remove_about_padding {
            // padding-left: 0 !important;
            // padding-right: 0 !important;
            img {
                width: 100%; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .single_report {
            height: 250px;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            margin: 0 auto;
            box-shadow: 0px 5px 20px #1F28330D;
            margin-bottom: 20px;
            p {
                font-size: 35px;
                color: white;
                margin-bottom: 30px;
            }
            .report_link {
                color: white;
                font-size: 17px;
                &:hover {
                    color: $primaryGreen;
                }
            }
        }
        &.reports_holder {
            margin-bottom: 50px;
        }
    }
    .reports_text {
        color: $primaryGreen;
    }
    &.policies_container {
        .img_holder {
            width: 600px;
            margin: 0 auto;
            position: relative;
            top: -110px;
            margin-bottom: -70px;
            img {
                width: 100%;
            }
        }
    }
    &.development_container {
        .all_developments {
            .development_holder {
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 7px;
                height: 326px;
                padding: 20px 15px;
                width: 100%;
                display: flex;
                .dev_img {
                    width: 25%;
                    padding-left: 12px;
                    padding-right: 12px;
                    .image {
                        background-color: #F5F5F5;
                        border-radius: 10px;
                        height: 60px;
                        width: 60px;
                    }
                }
                
                .developement_content {
                    width: 75%;
                    height: 100%;
                    padding-left: 12px;
                    padding-right: 12px;
                    h5 {
                        height: 18%;
                    }
                    p {
                        height: 82%;
                        font-size: 13px;
                        margin-bottom: 0;
                        line-height: 1.8;
                        letter-spacing: 1.5;
                        text-align: left;
                    }
                }
            }
        }
    }
    &.uniform_container {
        .view_calendar_button {
            border: 1px solid $primaryGreen;
            border-radius: 25px;
            background-color: white;
            color: $primaryGreen;
            font-size: 14px;
            padding: 8px 20px;
            outline-width: 0;
            margin-bottom: 25px;
        }
        .uniform_skewed {
            background: linear-gradient(-54deg, transparent 137px, #E8FFF2 0) right;
            height: 240px;
            padding-left: 15%;
            &.school_hours_skewed {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    &.curriculum_container {
        .uniform_skewed {
            background: linear-gradient(-74deg, transparent 137px, #E8FFF2 0) right;
            height: 400px;
            padding-left: 15%;
            p {
                font-size: 15px;
            }
        }
        .single_media {
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 7px;
            height: 200px;
            padding: 20px 15px;
            width: 100%;
            display: flex;
            .dev_img {
                width: 35%;
                padding-left: 12px;
                padding-right: 12px;
                .image {
                    background-color: #F5F5F5;
                    border-radius: 10px;
                    height: 80px;
                    width: 80px;
                }
            }
            
            .media_content {
                width: 65%;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}


@media screen and (max-width: 798px) {
    .pace_container {
        padding-top: 40px;
        section {
            .single_report {
                width: 250px; 
                height: 250px;
            }
        }
        &.policies_container {
            .img_holder {
                width: 80%;
            }
        }
        &.uniform_container {
            .codes {
                margin-top: 40px;
            }
        }
        &.development_container {
            .all_developments {
                .development_holder  {
                    min-height: 365px;
                }
            }
        }
    }
}

@media screen and (max-width: 608px) {
    .pace_container {
        &.uniform_container {
            .uniform_skewed {
                background: linear-gradient(-0deg, transparent 0, #E8FFF2 0) right;
                height: 340px;
                padding: 10px;
            }
        }
        &.curriculum_container {
            .uniform_skewed {
                // background: linear-gradient(-0deg, transparent 137px, #E8FFF2 0) right;
                background: #E8FFF2;
                height: 450px;
                padding-left: 5%;
                padding-right: 5%;
                p {
                    font-size: 15px;
                }
            }
        }
    }
}