

/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(211, 211, 211, 0.49);
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $primaryGreen;
    border-radius: 10px;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}