.term_container {
    padding: 80px 160px;
    .term_section {
        margin-bottom: 50px;
        p {
            margin-bottom: 0;
        }
        .marg_bottom {
            margin-bottom: 20px;
        }
        .term_season {
            font-size: 17px;
            font-weight: bold;
            color: #08813E;
        }
        .flex_center {
            img {
                margin-right: 7px;
                width: 16px;
            }
            p {
                font-size: 16px;
            }
        }
        .term_header_holder {
            display: flex;
            .left_green_border {
                height: 60px;
                width: 6px;
                border-radius: 5px;
                background-color: #08813E;
                margin-right: 20px;
            }
            .term_header {
                background-color: #DAFFEB;
                padding: 20px 90px 20px 15px;
                height: 60px;
                border-radius: 8px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .term_season {
                    font-size: 20px;
                }
                .term_period {
                    font-size: 16px;
                }
            }
        }
        .term_contents {
            background-color: #FCFCFC;
            padding: 20px 150px 20px 150px;
            height: 60px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 26px;
            .content_text {
                font-weight: bold;
            }
            .content_text_light {
                color: #08813E;
                font-size: 17px;
            }
            .bold_p {
                font-weight: bold;
            }
        }
    }
}


@media screen and (max-width: 1025px) {
    .term_container {
        width: 85%;
        margin: 0 auto;
        padding: 80px 0;
        .term_section {
            margin-bottom: 50px;
            p {
                margin-bottom: 0;
            }
            .marg_bottom {
                margin-bottom: 20px;
            }
            // .term_season {
            //     font-size: 17px;
            //     font-weight: bold;
            //     color: #08813E;
            // }
            // .flex_center {
            //     img {
            //         margin-right: 7px;
            //         width: 16px;
            //     }
            //     p {
            //         font-size: 16px;
            //     }
            // }
            .term_header_holder {
                display: flex;
                // .left_green_border {
                //     min-height: 60px;
                //     width: 6px;
                //     border-radius: 5px;
                //     background-color: #08813E;
                //     margin-right: 20px;
                // }
                .term_header {
                    background-color: #DAFFEB;
                    padding: 20px 10px 20px 10px;
                    min-height: 60px;
                    border-radius: 8px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .term_season {
                        font-size: 20px;
                    }
                    .term_period {
                        font-size: 16px;
                    }
                }
            }
            .term_contents {
                background-color: #FCFCFC;
                padding: 20px 10px 20px 10px;
                min-height: 60px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 26px;
                .content_text {
                    font-weight: bold;
                }
                .content_text_light {
                    color: #08813E;
                    font-size: 17px;
                }
                .bold_p {
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .term_container {
        width: 95%;
        margin: 0 auto;
    }
}